:root {
  --light-blue: #f6fcfd;
  --dark-blue: #084f5a;
  --dark-blue-hover: #0b5d69;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-color: hsl(180, 4%, 10%);
}

body {
  margin: 0;
}